* {
  box-sizing: border-box;
  font-family: 'Times New Roman', sans-serif;
  margin: 0;
  padding: 0;
}

html,
body,
main {
  overflow-x: hidden;
  min-height: 100vh;
}

h1::selection,
h2::selection,
h3::selection,
h4::selection,
a::selection,
p::selection,
span::selection,
label::selection,
text::selection,
img::selection {
  background-color: khaki;
}

h1::-moz-selection,
h2::-moz-selection,
h3::-moz-selection,
h4::-moz-selection,
a::-moz-selection,
p::-moz-selection,
span::-moz-selection,
label::-moz-selection,
text::-moz-selection {
  background: khaki;
}

img::selection {
  background-color: lightgoldenrodyellow;
}

img::-moz-selection {
  background-color: lightgoldenrodyellow;
}

a {
  color: inherit;
  text-decoration: none !important;
}

li {
  list-style: none;
}

section {
  border-bottom: 1px solid #eaeaea;
  height: fit-content;
  padding: 2rem 1rem;
}

@media (min-width: 578px) {
  section {
    padding: 4rem 2rem;
  }
}

section:first-of-type {
  border-top: 1px solid #eaeaea;
}

section:last-child {
  border-bottom: none;
}

a,
p,
label,
text,
small,
button {
  font-family: sans-serif;
}

p,
small {
  color: #555;
  letter-spacing: 0.015rem;
}

.formatted-text {
  letter-spacing: 0.25rem;
  text-transform: uppercase;
}

.animated-hover::before {
  background-color: #0070f3;
  content: '';
  height: 100%;
  left: 0;
  position: absolute;
  top: 100%;
  transition: top 0.3s ease;
  width: 100%;
  will-change: top;
}

.animated-hover:hover::before {
  top: 0;
}
